language: node_js
node_js:
- lts/*
script:
- npm run lint
- npm test
- if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then npm run appr; fi
before_install:
- openssl aes-256-cbc -K $encrypted_a3f2a9459865_key -iv $encrypted_a3f2a9459865_iv
  -in firebaseConfig.json.enc -out utils/firebaseConfig.json -d
